html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1 1 auto;
    height: fit-content;
}

footer {
    flex-shrink: 0;
}

.wrapper {
    height: 100%;
}

.row {
    height: 100%;
}