.widget-box {
    position: absolute;
    top: 83px;
    right: 20px;
    padding: 26px 22px;
    box-sizing: border-box;
    max-width: 296px;
    width: 100%;
    background: $primary-white;
    border: 1px solid rgba(0, 95, 184, 0.5);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(0);
    
    &--open {
        transform: scale(1);
    }
}

.widget-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar { /* Скрываем scrollbar для Chrome, Safari и Opera */
        display: none;
    }

    &-control {
        position: absolute;
        z-index: 2;
        top: 20px;
        right: 20px;
        display: block;
        width: 29px;
        height: 29px;

        cursor: pointer;

        svg {
            pointer-events: none;
        }
        
        &--open {
            svg path {
                fill: $secondary-blue;
            }

        }
    }

    &__item {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        height: auto;
        cursor: move;

        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 1023px) {
    .widget-box { 
        max-width: 250px;
        padding-left: 12px;
        padding-right: 12px;

        
    }

    .widget-bar {
        &__item {

            img {
                max-width: 200px;
            }
        }
    }


}
@media screen and (max-width: 768px) {
    .widget-box { 
        
        left: 0;
        right: 0;
        top: unset;
        bottom: 20px;
         padding-left: 12px;
        padding-right: 12px;
        max-width: 100%;
    }

    .widget-bar {
        min-height: 55px;
        flex-direction: row;
        
        &-control {
            width: 35px;
            height: 35px;
        }

        &__item {

            img {
                max-width: 120px;
            }
        }
    }


}
@media screen and (max-width: 680px) {

    .widget-bar {
        flex-direction: row;
        gap: 25px;

        &__item {

            img {
                max-width: 75px;
            }
        }

    }


}
