@charset "UTF-8";
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.wrapper {
  height: 100%;
}

.row {
  height: 100%;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/Roboto.woff2") format("woff2"), url("../../fonts/Roboto.woff") format("woff"), url("../../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Robotobold.woff2") format("woff2"), url("../../fonts/Robotobold.woff") format("woff"), url("../../fonts/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header {
  border-bottom: 1px solid #DDDDDD;
}

.header {
  padding: 23px 24px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  max-width: 213px;
  width: 100%;
}
.header__logo-title {
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 17px 18px;
  }
  .header__logo {
    max-width: 219px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 11px 12px;
  }
  .header__logo {
    max-width: 225px;
  }
}
.sidebar {
  position: relative;
  z-index: 2;
  padding: 34px 0 0 0;
  max-width: 236px;
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  color: #005FB8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
.sidebar-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  padding: 10px 18px 9px 34px;
}
.sidebar-nav__list-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25px;
  height: 26px;
  vertical-align: baseline;
}
.sidebar-nav__list-item--current {
  background: #E0F1FF;
  border-left: 2px solid #005FB8;
}
.sidebar-nav__list--minifed {
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .sidebar {
    padding: 34px 0 0 0;
    max-width: 55px;
    width: 100%;
  }
  .sidebar-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar-nav__list-item {
    padding: 10px 16px 9px 14px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    padding: 0;
    max-width: unset;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sidebar-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar-nav__list-item--current {
    border-left: unset;
    border-top: 2px solid #005FB8;
  }
}
.content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #E0F1FF;
}

@media screen and (max-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.meters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}
.meters__zone {
  position: relative;
  width: 50%;
  padding: calc(1.33125rem + 0.975vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 1200px) {
  .meters__zone {
    padding: 2.0625rem;
  }
}
.meters__zone--over-bottom::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  border-bottom: 1px dashed #005FB8;
}
.meters__zone--over-right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  border-right: 1px dashed #005FB8;
}

@media screen and (max-width: 768px) {
  .meters {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    height: auto;
  }
  .meters__zone {
    width: 100%;
    padding: 15px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .meters__zone--over-bottom::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-bottom: 1px dashed #005FB8;
  }
  .meters__zone--over-right::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-right: unset;
    border-bottom: 1px dashed #005FB8;
  }
}
@media screen and (max-width: 320px) {
  .meters__zone {
    width: 100%;
  }
}
.widget-box {
  position: absolute;
  top: 83px;
  right: 20px;
  padding: 26px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 296px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 95, 184, 0.5);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.widget-box--open {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.widget-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
.widget-bar::-webkit-scrollbar { /* Скрываем scrollbar для Chrome, Safari и Opera */
  display: none;
}
.widget-bar-control {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  display: block;
  width: 29px;
  height: 29px;
  cursor: pointer;
}
.widget-bar-control svg {
  pointer-events: none;
}
.widget-bar-control--open svg path {
  fill: #005FB8;
}
.widget-bar__item {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  cursor: move;
}
.widget-bar__item img {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .widget-box {
    max-width: 250px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .widget-bar__item img {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .widget-box {
    left: 0;
    right: 0;
    top: unset;
    bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 100%;
  }
  .widget-bar {
    min-height: 55px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .widget-bar-control {
    width: 35px;
    height: 35px;
  }
  .widget-bar__item img {
    max-width: 120px;
  }
}
@media screen and (max-width: 680px) {
  .widget-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
  }
  .widget-bar__item img {
    max-width: 75px;
  }
}
.w-control {
  position: relative;
  max-width: 389px;
  max-height: 389px;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden; /* clearfix */
}
.w-control:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.w-control h2,
.w-control p {
  margin: 0;
}
.w-control__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  aspect-ratio: 1/1;
}
.w-control__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.7;
      -ms-flex-positive: 0.7;
          flex-grow: 0.7;
  width: 100%;
  background: #FFFFFF;
}
.w-control__price-title {
  font-size: calc(1.40625rem + 1.875vw);
  color: #005FB8;
}
@media (min-width: 1200px) {
  .w-control__price-title {
    font-size: 2.8125rem;
  }
}
.w-control__price-data {
  font-size: calc(1.75rem + 6vw);
  font-weight: 100;
}
@media (min-width: 1200px) {
  .w-control__price-data {
    font-size: 6.25rem;
  }
}
.w-control__price-data-text {
  font-size: calc(1.34375rem + 1.125vw);
}
@media (min-width: 1200px) {
  .w-control__price-data-text {
    font-size: 2.1875rem;
  }
}
.w-control__plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
  width: 100%;
  color: #FFFFFF;
}
.w-control__plan-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 7px;
  background: #005FB8;
  height: 50%;
}
.w-control__plan-title {
  font-size: calc(1.34375rem + 1.125vw);
}
@media (min-width: 1200px) {
  .w-control__plan-title {
    font-size: 2.1875rem;
  }
}
.w-control__plan-data {
  font-size: calc(1.34375rem + 1.125vw);
}
@media (min-width: 1200px) {
  .w-control__plan-data {
    font-size: 2.1875rem;
  }
}
.w-control__plan-text {
  font-size: calc(1.34375rem + 1.125vw);
}
@media (min-width: 1200px) {
  .w-control__plan-text {
    font-size: 2.1875rem;
  }
}

.widget-bar .w-control {
  max-width: 252px;
  max-height: 252px;
  border: 1px solid #005FB8;
}
.widget-bar .w-control__price-title {
  font-size: 1rem;
}
.widget-bar .w-control__price-data {
  font-size: calc(1.3625rem + 1.35vw);
}
@media (min-width: 1200px) {
  .widget-bar .w-control__price-data {
    font-size: 2.375rem;
  }
}
.widget-bar .w-control__price-data-text {
  font-size: 1rem;
}
.widget-bar .w-control__plan-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
.widget-bar .w-control__plan-title {
  font-size: 0.875rem;
}
.widget-bar .w-control__plan-data {
  font-size: 0.875rem;
}
.widget-bar .w-control__plan-text {
  font-size: 0.875rem;
}

@media screen and (max-width: 1023px) {
  .w-control {
    max-width: 252px;
    max-height: 252px;
  }
  .w-control__price-title {
    font-size: calc(1.34375rem + 1.125vw);
    color: #005FB8;
  }
}
@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .w-control__price-title {
    font-size: 2.1875rem;
  }
}
@media screen and (max-width: 1023px) {
  .w-control__price-data {
    font-size: calc(1.5625rem + 3.75vw);
    font-weight: 100;
  }
}
@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .w-control__price-data {
    font-size: 4.375rem;
  }
}
@media screen and (max-width: 1023px) {
  .w-control__price-data-text {
    font-size: calc(1.28125rem + 0.375vw);
  }
}
@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .w-control__price-data-text {
    font-size: 1.5625rem;
  }
}
@media screen and (max-width: 1023px) {
  .w-control__plan-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4px;
  }
  .w-control__plan-title {
    font-size: calc(1.28125rem + 0.375vw);
  }
}
@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .w-control__plan-title {
    font-size: 1.5625rem;
  }
}
@media screen and (max-width: 1023px) {
  .w-control__plan-data {
    font-size: calc(1.28125rem + 0.375vw);
  }
}
@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .w-control__plan-data {
    font-size: 1.5625rem;
  }
}
@media screen and (max-width: 1023px) {
  .w-control__plan-text {
    font-size: calc(1.28125rem + 0.375vw);
  }
}
@media screen and (max-width: 1023px) and (min-width: 1200px) {
  .w-control__plan-text {
    font-size: 1.5625rem;
  }
}
@media screen and (max-width: 1023px) {
  .widget-bar .w-control {
    max-width: 252px;
    max-height: 252px;
  }
}
@media screen and (max-width: 768px) {
  .widget-bar .w-control {
    max-width: 152px;
    max-height: 152px;
  }
}
.w-table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.w-table__table {
  max-width: 554px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  text-align: center;
  vertical-align: middle;
  border-spacing: 1px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.w-table__table tbody {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 276px;
}
.w-table__table th:last-child {
  border-top-right-radius: 20px;
}
.w-table__table th:first-child {
  border-top-left-radius: 20px;
}
.w-table__table thead {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.w-table__table thead tr {
  display: block;
}
.w-table__table th,
.w-table__table td {
  padding: 5px 10px;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.w-table__table th {
  font-size: 1.125rem;
  padding: 0.9375rem;
  background: #005FB8;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.w-table__table tr td {
  font-size: 1.25rem;
  padding: 1.25rem 0.9375rem;
}

.w-table.hidden {
  display: none;
}

@media screen and (max-width: 1366px) {
  .w-table__table {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .w-table__table thead th {
    font-size: 0.875rem;
    padding: 0.4375rem;
  }
  .w-table__table tbody tr td {
    font-size: 1rem;
    padding: 0.9375rem 0.4375rem;
  }
}
@media screen and (max-width: 1023px) {
  .w-table__table thead th {
    font-size: 0.875rem;
    padding: 0.4375rem;
  }
  .w-table__table tbody tr td {
    font-size: 1rem;
    padding: 0.9375rem 0.4375rem;
  }
}
@media screen and (max-width: 834px) {
  .w-table__table thead th {
    font-size: 0.625rem;
    padding: 0.4375rem;
  }
  .w-table__table tbody tr td {
    font-size: 1rem;
    padding: 0.9375rem 0.4375rem;
  }
}
@media screen and (max-width: 480px) {
  .w-table__table {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .w-table__table thead th {
    font-size: 0.625rem;
    padding: 0.4375rem;
  }
  .w-table__table tbody tr td {
    font-size: 1rem;
    padding: 0.9375rem 0.4375rem;
  }
}
@media screen and (max-width: 340px) {
  .w-table__table {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .w-table__table thead th {
    font-size: 0.625rem;
    padding: 0.25rem;
  }
  .w-table__table tbody tr td {
    font-size: 1rem;
    padding: 0.9375rem 0.4375rem;
  }
}
.w-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.w-graph__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 554px;
  max-height: 296px;
}
.w-graph__title {
  position: relative;
  z-index: 2;
  padding: 0.6875rem calc(1.26875rem + 0.225vw) 0.625rem;
  width: 100%;
  margin: 0 34px;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 1.25rem;
  background: #005FB8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}
@media (min-width: 1200px) {
  .w-graph__title {
    padding: 0.6875rem 1.4375rem 0.625rem;
  }
}
.w-graph canvas {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
}

.w-graph.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */